In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [23]:
houses_df = pd.read_csv("data/resale-flat-prices-based-on-registration-date-from-jan-2015-onwards.csv")
houses_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,64,290000.0

In [24]:
houses_df["town"].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
       'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
       'TOA PAYOH', 'WOODLANDS', 'YISHUN'], dtype=object)

In [25]:
(houses_df["street_name"].unique())

array(['ANG MO KIO AVE 4', 'ANG MO KIO AVE 10', 'ANG MO KIO AVE 5',
       'ANG MO KIO AVE 8', 'ANG MO KIO AVE 1', 'ANG MO KIO AVE 3',
       'ANG MO KIO AVE 6', 'ANG MO KIO ST 52', 'ANG MO KIO ST 21',
       'ANG MO KIO ST 31', 'BEDOK RESERVOIR RD', 'BEDOK STH RD',
       'BEDOK NTH ST 3', 'BEDOK NTH AVE 1', 'BEDOK NTH RD',
       'NEW UPP CHANGI RD', 'CHAI CHEE ST', 'BEDOK NTH ST 1',
       'BEDOK NTH AVE 4', 'BEDOK NTH ST 2', 'CHAI CHEE AVE',
       'BEDOK NTH AVE 3', 'BEDOK STH AVE 1', 'BEDOK CTRL',
       'BEDOK NTH AVE 2', 'BEDOK STH AVE 2', 'BEDOK RESERVOIR VIEW',
       'CHAI CHEE RD', 'JLN TENAGA', 'BEDOK STH AVE 3', 'LENGKONG TIGA',
       'SHUNFU RD', 'BISHAN ST 24', 'BISHAN ST 12', 'BISHAN ST 22',
       'BISHAN ST 13', 'BISHAN ST 23', 'BRIGHT HILL DR', 'SIN MING AVE',
       'BT BATOK ST 52', 'BT BATOK WEST AVE 4', 'BT BATOK WEST AVE 2',
       'BT BATOK EAST AVE 4', 'BT BATOK EAST AVE 3', 'BT BATOK ST 21',
       'BT BATOK EAST AVE 5', 'BT BATOK WEST AVE 8', 'BT BATOK ST 11',
       'BT BATOK WEST AVE 6', 'BT BATOK ST 51', 'BT BATOK ST 32',
       'BT BATOK ST 33', 'BT BATOK ST 31', 'BT BATOK CTRL',
       'BT BATOK ST 24', 'BT BATOK ST 25', 'BT BATOK WEST AVE 5',
       'BT BATOK ST 34', 'JLN KLINIK', 'LOWER DELTA RD', 'BT MERAH VIEW',
       'JLN BT HO SWEE', 'JLN BT MERAH', 'TELOK BLANGAH CRES',
       'TELOK BLANGAH HTS', 'KIM TIAN RD', 'BEO CRES', 'CANTONMENT CL',
       'TELOK BLANGAH DR', 'JLN MEMBINA', 'LIM LIAK ST', 'SENG POH RD',
       'LENGKOK BAHRU', 'DEPOT RD', 'KIM TIAN PL', 'REDHILL CL',
       'BOON TIONG RD', 'HOY FATT RD', 'HAVELOCK RD', 'REDHILL LANE',
       'REDHILL RD', 'GANGSA RD', 'PETIR RD', 'BANGKIT RD', 'SAUJANA RD',
       'BT PANJANG RING RD', 'SEGAR RD', 'PENDING RD', 'FAJAR RD',
       'JELAPANG RD', 'SENJA RD', 'SENJA LINK', 'JELEBU RD', 'CASHEW RD',
       'TOH YI DR', 'FARRER RD', 'UPP CROSS ST', 'TG PAGAR PLAZA',
       'CHIN SWEE RD', 'CANTONMENT RD', 'TECK WHYE AVE', 'TECK WHYE LANE',
       'CHOA CHU KANG AVE 4', 'CHOA CHU KANG CTRL', 'CHOA CHU KANG CRES',
       'CHOA CHU KANG AVE 2', 'CHOA CHU KANG AVE 3', 'CHOA CHU KANG DR',
       'CHOA CHU KANG AVE 5', 'JLN TECK WHYE', 'CHOA CHU KANG AVE 1',
       'CHOA CHU KANG ST 62', 'CHOA CHU KANG NTH 6',
       'CHOA CHU KANG ST 64', 'CHOA CHU KANG NTH 5',
       'CHOA CHU KANG ST 51', 'WEST COAST RD', 'CLEMENTI AVE 5',
       'CLEMENTI AVE 2', 'CLEMENTI WEST ST 1', 'CLEMENTI AVE 3',
       'CLEMENTI AVE 4', 'CLEMENTI WEST ST 2', 'WEST COAST DR',
       'CIRCUIT RD', 'ALJUNIED CRES', 'MACPHERSON LANE', 'BALAM RD',
       'PAYA LEBAR WAY', 'EUNOS CRES', 'HAIG RD', 'GEYLANG EAST AVE 1',
       'SIMS DR', 'CASSIA CRES', 'UBI AVE 1', 'ALJUNIED RD', 'PINE CL',
       'JLN TIGA', 'HOUGANG AVE 3', 'HOUGANG AVE 6', 'HOUGANG AVE 5',
       'HOUGANG AVE 1', 'HOUGANG AVE 7', 'HOUGANG ST 22', 'HOUGANG AVE 8',
       'HOUGANG AVE 10', 'HOUGANG ST 11', 'LOR AH SOO', 'HOUGANG ST 92',
       'HOUGANG ST 61', 'HOUGANG AVE 4', 'HOUGANG ST 91', 'HOUGANG ST 51',
       'HOUGANG ST 52', 'HOUGANG AVE 9', 'HOUGANG ST 21', 'HOUGANG CTRL',
       'HOUGANG AVE 2', 'TEBAN GDNS RD', 'JURONG EAST ST 24',
       'JURONG EAST ST 21', 'JURONG EAST ST 13', 'JURONG EAST ST 32',
       'JURONG EAST ST 31', 'TOH GUAN RD', 'PANDAN GDNS', 'BOON LAY AVE',
       'BOON LAY PL', 'JURONG WEST ST 41', 'HO CHING RD',
       'JURONG WEST ST 51', 'JURONG WEST AVE 1', 'JURONG WEST ST 91',
       'KANG CHING RD', 'TAH CHING RD', 'JURONG WEST ST 25',
       'JURONG WEST AVE 3', 'JURONG WEST ST 81', 'JURONG WEST ST 42',
       'JURONG WEST ST 73', 'JURONG WEST ST 61', 'JURONG WEST ST 71',
       'JURONG WEST AVE 5', 'JURONG WEST ST 65', 'YUNG LOH RD',
       'JURONG WEST ST 74', 'JURONG WEST ST 64', 'JURONG WEST CTRL 1',
       'JURONG WEST ST 52', 'JURONG WEST ST 92', 'YUNG SHENG RD',
       'BOON LAY DR', 'JURONG WEST ST 75', 'CORPORATION DR',
       'JURONG WEST ST 93', 'YUNG AN RD', 'JLN BAHAGIA', 'GEYLANG BAHRU',
       'JLN BATU', 'KALLANG BAHRU', 'UPP BOON KENG RD', 'RACE COURSE RD',
       'GLOUCESTER RD', 'BEACH RD', 'BENDEMEER RD', 'WHAMPOA STH',
       'WHAMPOA DR', "ST. GEORGE'S RD", 'JLN DUSUN', 'JLN TENTERAM',
       'BOON KENG RD', 'FARRER PK RD', 'MCNAIR RD', 'AH HOOD RD',
       'WHAMPOA RD', 'CRAWFORD LANE', 'JLN RAJAH', 'MARINE TER',
       'MARINE DR', 'MARINE CRES', 'CHANGI VILLAGE RD', 'PASIR RIS ST 21',
       'PASIR RIS DR 3', 'PASIR RIS DR 6', 'PASIR RIS DR 10',
       'PASIR RIS ST 11', 'PASIR RIS ST 71', 'PASIR RIS DR 1',
       'PASIR RIS DR 4', 'PASIR RIS ST 52', 'PASIR RIS ST 51',
       'PASIR RIS ST 53', 'PASIR RIS ST 12', 'ELIAS RD',
       'PASIR RIS ST 72', 'EDGEDALE PLAINS', 'PUNGGOL FIELD',
       'PUNGGOL CTRL', 'PUNGGOL DR', 'PUNGGOL PL', 'EDGEFIELD PLAINS',
       'STIRLING RD', "C'WEALTH CL", "C'WEALTH CRES", "C'WEALTH DR",
       'DOVER CRES', 'GHIM MOH RD', 'HOLLAND AVE', 'HOLLAND DR',
       'DOVER RD', 'MEI LING ST', 'STRATHMORE AVE', 'QUEENSWAY',
       'HOLLAND CL', 'TANGLIN HALT RD', 'ADMIRALTY LINK', 'SEMBAWANG DR',
       'MONTREAL DR', 'ADMIRALTY DR', 'WELLINGTON CIRCLE', 'SEMBAWANG CL',
       'SEMBAWANG VISTA', 'CANBERRA RD', 'ANCHORVALE LINK',
       'COMPASSVALE LANE', 'RIVERVALE CRES', 'RIVERVALE ST',
       'COMPASSVALE CRES', 'RIVERVALE DR', 'COMPASSVALE WALK',
       'ANCHORVALE DR', 'SENGKANG EAST RD', 'FERNVALE LINK',
       'COMPASSVALE DR', 'RIVERVALE WALK', 'FERNVALE RD',
       'COMPASSVALE RD', 'SENGKANG EAST WAY', 'SENGKANG WEST AVE',
       'COMPASSVALE BOW', 'SENGKANG CTRL', 'COMPASSVALE LINK',
       'COMPASSVALE ST', 'SERANGOON NTH AVE 1', 'SERANGOON AVE 4',
       'SERANGOON CTRL', 'SERANGOON CTRL DR', 'SERANGOON AVE 2',
       'SERANGOON NTH AVE 4', 'SERANGOON NTH AVE 3', 'SERANGOON AVE 3',
       'SERANGOON AVE 1', 'TAMPINES ST 43', 'TAMPINES ST 22',
       'TAMPINES ST 81', 'TAMPINES ST 83', 'TAMPINES ST 44',
       'TAMPINES ST 42', 'TAMPINES ST 41', 'TAMPINES AVE 4',
       'TAMPINES ST 11', 'TAMPINES ST 21', 'TAMPINES ST 23',
       'TAMPINES ST 12', 'SIMEI ST 1', 'TAMPINES ST 34', 'TAMPINES AVE 8',
       'TAMPINES ST 82', 'TAMPINES ST 33', 'TAMPINES ST 84',
       'TAMPINES ST 45', 'TAMPINES ST 71', 'SIMEI ST 4', 'TAMPINES ST 91',
       'TAMPINES ST 24', 'TAMPINES ST 72', 'TAMPINES ST 32',
       'TAMPINES CTRL 7', 'SIMEI RD', 'LOR 2 TOA PAYOH', 'KIM KEAT AVE',
       'UPP ALJUNIED LANE', 'LOR 1 TOA PAYOH', 'LOR 6 TOA PAYOH',
       'LOR 5 TOA PAYOH', 'LOR 7 TOA PAYOH', 'TOA PAYOH EAST',
       'LOR 3 TOA PAYOH', 'LOR 4 TOA PAYOH', 'TOA PAYOH CTRL',
       'POTONG PASIR AVE 2', 'LOR 8 TOA PAYOH', 'POTONG PASIR AVE 1',
       'JOO SENG RD', 'KIM KEAT LINK', 'MARSILING RISE', 'MARSILING DR',
       'WOODLANDS ST 31', 'WOODLANDS ST 41', 'WOODLANDS DR 16',
       'WOODLANDS ST 83', 'WOODLANDS ST 82', 'WOODLANDS CIRCLE',
       'WOODLANDS DR 60', 'WOODLANDS ST 13', 'WOODLANDS CRES',
       'WOODLANDS ST 81', 'WOODLANDS AVE 6', 'WOODLANDS DR 40',
       'WOODLANDS DR 52', 'WOODLANDS DR 70', 'WOODLANDS DR 44',
       'WOODLANDS DR 50', 'WOODLANDS DR 42', 'WOODLANDS DR 62',
       'WOODLANDS AVE 1', 'WOODLANDS DR 14', 'WOODLANDS DR 53',
       'WOODLANDS RING RD', 'WOODLANDS ST 11', 'WOODLANDS DR 75',
       'WOODLANDS AVE 5', 'WOODLANDS ST 32', 'YISHUN RING RD',
       'YISHUN AVE 5', 'YISHUN AVE 6', 'YISHUN ST 22', 'YISHUN CTRL',
       'YISHUN AVE 2', 'YISHUN AVE 4', 'YISHUN ST 21', 'YISHUN ST 11',
       'YISHUN AVE 11', 'YISHUN AVE 3', 'YISHUN AVE 9', 'YISHUN ST 61',
       'YISHUN ST 72', 'YISHUN ST 81', 'ANG MO KIO ST 32',
       'BEDOK NTH ST 4', 'BT BATOK WEST AVE 7', 'JLN RUMAH TINGGI',
       'TELOK BLANGAH WAY', 'TIONG BAHRU RD', 'TELOK BLANGAH RISE',
       'HENDERSON CRES', 'BT PURMEI RD', 'SPOTTISWOODE PK RD',
       'LOMPANG RD', 'SELEGIE RD', 'KELANTAN RD', 'KRETA AYER RD',
       'CHOA CHU KANG ST 53', 'CLEMENTI AVE 6', 'CLEMENTI ST 13',
       'SIMS PL', 'EUNOS RD 5', 'SIMS AVE', 'BUANGKOK CRES',
       'HOUGANG ST 31', 'JURONG EAST AVE 1', 'JURONG WEST ST 24',
       'YUNG PING RD', 'LOR LIMAU', 'TOWNER RD', 'NTH BRIDGE RD',
       'KG ARANG RD', 'DORSET RD', "ST. GEORGE'S LANE", 'PASIR RIS ST 13',
       'PUNGGOL FIELD WALK', 'PUNGGOL EAST', "QUEEN'S CL", "C'WEALTH AVE",
       'CLARENCE LANE', 'DOVER CL EAST', 'ANCHORVALE RD',
       'ANCHORVALE LANE', 'FERNVALE LANE', 'LOR LEW LIAN',
       'SERANGOON NTH AVE 2', 'TAMPINES AVE 5', 'TAMPINES CTRL 1',
       'SIMEI ST 5', 'TAMPINES AVE 7', 'MARSILING LANE',
       'WOODLANDS AVE 4', 'WOODLANDS DR 73', 'WOODLANDS DR 72',
       'MARSILING RD', 'YISHUN ST 71', 'YISHUN ST 20', 'ANG MO KIO AVE 9',
       'ANG MO KIO AVE 2', 'CHAI CHEE DR', 'SIN MING RD', 'MOH GUAN TER',
       'BT MERAH CTRL', "QUEEN'S RD", 'EMPRESS RD', 'JLN KUKOH',
       'VEERASAMY RD', 'WATERLOO ST', 'KLANG LANE', 'CHOA CHU KANG ST 52',
       'CHOA CHU KANG LOOP', 'CHOA CHU KANG ST 54', 'CHOA CHU KANG NTH 7',
       'CLEMENTI ST 12', "C'WEALTH AVE WEST", 'GEYLANG EAST CTRL',
       'GEYLANG SERAI', 'PIPIT RD', 'YUAN CHING RD', 'JURONG WEST ST 72',
       'JURONG WEST ST 62', 'KG KAYU RD', 'WHAMPOA WEST', "JLN MA'MOR",
       'CAMBRIDGE RD', 'PUNGGOL RD', 'SEMBAWANG CRES', 'SEMBAWANG WAY',
       'TAMPINES AVE 9', 'SIMEI ST 2', 'TOA PAYOH NTH', 'JLN DAMAI',
       'BT BATOK ST 22', 'DELTA AVE', 'QUEEN ST', 'DAKOTA CRES',
       'BUANGKOK LINK', 'UPP SERANGOON RD', "KING GEORGE'S AVE",
       'LOR 3 GEYLANG', 'JELLICOE RD', 'PASIR RIS ST 41',
       'WOODLANDS AVE 3', 'WOODLANDS DR 71', 'TAMAN HO SWEE',
       'EVERTON PK', 'ROWELL RD', 'SMITH ST', 'CLEMENTI ST 14',
       'YUNG HO RD', 'KENT RD', 'POTONG PASIR AVE 3', 'YISHUN AVE 7',
       'BISHAN ST 11', 'INDUS RD', 'SAGO LANE', 'NEW MKT RD',
       'CHANDER RD', 'OLD AIRPORT RD', 'WOODLANDS AVE 9', 'KIM PONG RD',
       'BUFFALO RD', 'CANBERRA LINK', 'BAIN ST', 'JLN DUA', 'OWEN RD',
       'TESSENSOHN RD', 'GHIM MOH LINK', 'MARSILING CRES',
       'ANG MO KIO ST 11', 'SILAT AVE', 'KIM CHENG ST', 'MOULMEIN RD',
       'CLEMENTI ST 11', 'YISHUN CTRL 1', 'JLN BERSEH', 'FRENCH RD',
       'BT MERAH LANE 1', 'SIMEI LANE', 'JOO CHIAT RD', 'TAO CHING RD',
       'CLEMENTI AVE 1', 'YISHUN ST 41', 'TELOK BLANGAH ST 31', 'ZION RD',
       'JLN KAYU', 'LOR 1A TOA PAYOH', 'PUNGGOL WALK',
       'SENGKANG WEST WAY', 'BUANGKOK GREEN', 'PUNGGOL WAY',
       'YISHUN ST 31', 'TECK WHYE CRES', 'MONTREAL LINK'], dtype=object)

In [26]:
import pandas_profiling
profile = pandas_profiling.ProfileReport(houses_df)
profile.to_file(outputfile="data/profile.html")

In [27]:
ang_mo_kio_df = houses_df.loc[houses_df["town"] == "ANG MO KIO"]
ang_mo_kio_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,64,290000.0

In [28]:
import category_encoders as ce
encoder = ce.OneHotEncoder(cols=["flat_type", "storey_range", "flat_model"])
ang_mo_kio_cleaned_df = encoder.fit_transform(ang_mo_kio_df)
ang_mo_kio_cleaned_df.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_-1,storey_range_1,storey_range_2,storey_range_3,storey_range_4,...,flat_model_7,flat_model_8,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,2015-01,ANG MO KIO,174,ANG MO KIO AVE 4,60.0,70,255000.0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,2015-01,ANG MO KIO,541,ANG MO KIO AVE 10,68.0,65,275000.0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,2015-01,ANG MO KIO,163,ANG MO KIO AVE 4,69.0,64,285000.0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,2015-01,ANG MO KIO,446,ANG MO KIO AVE 10,68.0,63,290000.0
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,2015-01,ANG MO KIO,557,ANG MO KIO AVE 10,68.0,64,290000.0

In [29]:
houses_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,64,290000.0

In [30]:
encoder = ce.OneHotEncoder(cols=["flat_type", "storey_range", "flat_model"])
houses_df_cleaned = encoder.fit_transform(houses_df)
houses_df_cleaned.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01,ANG MO KIO,174,ANG MO KIO AVE 4,60.0,70,255000.0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,541,ANG MO KIO AVE 10,68.0,65,275000.0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,163,ANG MO KIO AVE 4,69.0,64,285000.0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,446,ANG MO KIO AVE 10,68.0,63,290000.0
4,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01,ANG MO KIO,557,ANG MO KIO AVE 10,68.0,64,290000.0

In [31]:
houses_df_cleaned.shape

(80645, 55)

In [32]:
houses_df_cleaned = houses_df_cleaned.drop_duplicates()
houses_df_cleaned.shape

(80583, 55)

In [33]:
# houses_df_cleaned.to_csv("data/cleaned.csv", index=0)

In [34]:
houses_df_cleaned['month'] = houses_df_cleaned['month'].astype('datetime64[ns]')
# houses_df_cleaned["month"].dtype

In [35]:
houses_df_cleaned.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,ANG MO KIO,174,ANG MO KIO AVE 4,60.0,70,255000.0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,ANG MO KIO,541,ANG MO KIO AVE 10,68.0,65,275000.0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,ANG MO KIO,163,ANG MO KIO AVE 4,69.0,64,285000.0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,ANG MO KIO,446,ANG MO KIO AVE 10,68.0,63,290000.0
4,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,ANG MO KIO,557,ANG MO KIO AVE 10,68.0,64,290000.0

In [36]:
houses_df_cleaned["month"].dtype

dtype('<M8[ns]')

In [37]:
houses_df_cleaned.sort_values(by='month', ascending=False)

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
80644,0,0,0,0,1,0,0,0,1,0,...,0,0,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0
79621,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0
79599,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0
79600,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0
79601,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0
79602,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,508,WEST COAST DR,162.0,58,800000.0
79603,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,32,BALAM RD,57.0,53,210000.0
79604,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,GEYLANG,36,CASSIA CRES,59.0,66,368000.0
79605,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,GEYLANG,59,CIRCUIT RD,59.0,49,230000.0
79606,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,61,CIRCUIT RD,61.0,49,295000.0
79607,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,GEYLANG,60,CIRCUIT RD,56.0,49,223000.0
79608,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,GEYLANG,37,CIRCUIT RD,58.0,52,210000.0
79609,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,GEYLANG,58,CIRCUIT RD,56.0,49,205000.0
79610,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,GEYLANG,66,CIRCUIT RD,56.0,47,263000.0
79611,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,87,CIRCUIT RD,60.0,50,220000.0
79612,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,20,EUNOS CRES,66.0,62,282500.0
79613,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,17,EUNOS CRES,59.0,57,268000.0
79614,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,GEYLANG,16,EUNOS CRES,59.0,57,260000.0
79615,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,33,EUNOS CRES,60.0,87,416000.0
79616,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,21,EUNOS CRES,66.0,62,258000.0
79617,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,GEYLANG,97,JLN DUA,56.0,49,310000.0
79618,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,3,JOO CHIAT RD,79.0,65,398000.0
79619,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,53,SIMS PL,65.0,61,315000.0
79598,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,459,CLEMENTI AVE 3,110.0,82,820000.0
79597,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,357,CLEMENTI AVE 2,117.0,58,605000.0
79596,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,CLEMENTI,716,CLEMENTI WEST ST 2,91.0,61,365000.0
79584,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,420,CLEMENTI AVE 1,100.0,93,745000.0
79575,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,701,WEST COAST RD,67.0,60,285000.0
79576,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,CLEMENTI,411,C'WEALTH AVE WEST,97.0,58,430000.0
79577,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,CLEMENTI,410,C'WEALTH AVE WEST,97.0,58,430000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,0,0,1,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,SEMBAWANG,304,CANBERRA RD,123.0,82,380000.0
851,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,SEMBAWANG,354B,ADMIRALTY DR,110.0,85,445000.0
823,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,28B,DOVER CRES,88.0,96,668000.0
852,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,SEMBAWANG,501B,WELLINGTON CIRCLE,110.0,85,450000.0
853,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,341B,SEMBAWANG CL,110.0,85,465000.0
854,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,316,SEMBAWANG VISTA,121.0,83,470000.0
855,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,354B,ADMIRALTY DR,113.0,85,475000.0
856,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,468D,ADMIRALTY DR,137.0,85,462000.0
857,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,471,SEMBAWANG DR,130.0,84,498000.0
858,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,502A,WELLINGTON CIRCLE,130.0,85,540000.0
842,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,320,SEMBAWANG CL,101.0,83,367000.0
841,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,SEMBAWANG,501B,WELLINGTON CIRCLE,91.0,85,360000.0
840,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,SEMBAWANG,359B,ADMIRALTY DR,95.0,85,355000.0
839,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,SEMBAWANG,589B,MONTREAL DR,86.0,86,353888.0
824,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,QUEENSTOWN,181,STIRLING RD,96.0,84,670000.0
825,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,QUEENSTOWN,30A,HOLLAND CL,106.0,81,688888.0
826,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,QUEENSTOWN,18C,HOLLAND DR,92.0,96,728000.0
827,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,48,STRATHMORE AVE,90.0,90,755000.0
828,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,59,STRATHMORE AVE,96.0,84,765000.0
829,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,91,TANGLIN HALT RD,90.0,92,766000.0
830,0,0,1,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,QUEENSTOWN,183,STIRLING RD,115.0,84,750000.0
831,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,19,DOVER CRES,111.0,87,780000.0
832,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,49,STRATHMORE AVE,110.0,90,822800.0
833,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,28A,DOVER CRES,124.0,96,825000.0
834,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,QUEENSTOWN,18D,HOLLAND DR,117.0,96,950000.0
835,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,483,ADMIRALTY LINK,90.0,88,339000.0
836,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,SEMBAWANG,474,SEMBAWANG DR,90.0,84,340000.0
837,0,1,0,0,0,0,0,0,0,1,...,0,0,0,2015-01-01,SEMBAWANG,405,ADMIRALTY LINK,86.0,85,343000.0
838,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2015-01-01,SEMBAWANG,589B,MONTREAL DR,85.0,86,352000.0
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01-01,ANG MO KIO,174,ANG MO KIO AVE 4,60.0,70,255000.0

In [38]:
houses_df_cleaned_sorted_date = houses_df_cleaned.sort_values(by='month', ascending=False)
houses_df_cleaned_sorted_date.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
80644,0,0,0,0,1,0,0,0,1,0,...,0,0,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0
79621,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0
79599,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0
79600,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0
79601,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0

In [39]:
test_df = houses_df_cleaned_sorted_date.iloc[:5000]
train_df = houses_df_cleaned_sorted_date.iloc[5000:]
test_df.shape
train_df.shape

(75583, 55)

In [40]:
test_df.shape

(5000, 55)

In [41]:
test_df.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
80644,0,0,0,0,1,0,0,0,1,0,...,0,0,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0
79621,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0
79599,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0
79600,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0
79601,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0

In [42]:
train_df.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
74331,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2018-10-01,CHOA CHU KANG,684A,CHOA CHU KANG CRES,110.0,82,350000.0
74407,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2018-10-01,GEYLANG,34,CIRCUIT RD,60.0,47,225000.0
74332,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2018-10-01,CHOA CHU KANG,686B,CHOA CHU KANG CRES,110.0,83,355000.0
74333,0,0,1,0,0,0,0,0,0,1,...,0,0,0,2018-10-01,CHOA CHU KANG,682,CHOA CHU KANG CRES,122.0,80,360000.0
74334,0,0,1,0,0,0,0,0,0,0,...,0,0,0,2018-10-01,CHOA CHU KANG,684B,CHOA CHU KANG CRES,110.0,83,340000.0

## Analyze the regions of Singapore

In [43]:
region_df = pd.read_csv("data/region_details.csv")
region_df.head()

,Town,"Location (N, S, E, W, etc.)",Population,# households,median income (thousands),text reviews??
0,ANG MO KIO,North- East - Region,165710,62.6,12.7,NaN
1,BEDOK,East - Region,"281,300",92.2,17.2,NaN
2,BISHAN,Central - Region,"88,490",27.8,4.5,NaN
3,BUKIT BATOK,West - Region,"144,410",44.0,8.1,NaN
4,BUKIT MERAH,Central - Region,"151,870",55.2,11.3,NaN

In [44]:
region_df = region_df.drop(columns=["text reviews??"])
region_df.head()

,Town,"Location (N, S, E, W, etc.)",Population,# households,median income (thousands)
0,ANG MO KIO,North- East - Region,165710,62.6,12.7
1,BEDOK,East - Region,"281,300",92.2,17.2
2,BISHAN,Central - Region,"88,490",27.8,4.5
3,BUKIT BATOK,West - Region,"144,410",44.0,8.1
4,BUKIT MERAH,Central - Region,"151,870",55.2,11.3

In [45]:
region_df["Population"] = region_df["Population"].str.replace(",", "").astype(float)
region_df["Population"].head()

0    165710.0
1    281300.0
2     88490.0
3    144410.0
4    151870.0
Name: Population, dtype: float64

In [46]:
from sklearn.preprocessing import MinMaxScaler
mmscaler = MinMaxScaler()
region_df[["Population", "# households", "median income (thousands)"]] = mmscaler.fit_transform(region_df[["Population", "# households", "median income (thousands)"]])
region_df.head()

,Town,"Location (N, S, E, W, etc.)",Population,# households,median income (thousands)
0,ANG MO KIO,North- East - Region,0.529107,0.615584,0.689655
1,BEDOK,East - Region,1.000000,1.000000,1.000000
2,BISHAN,Central - Region,0.214527,0.163636,0.124138
3,BUKIT BATOK,West - Region,0.442335,0.374026,0.372414
4,BUKIT MERAH,Central - Region,0.472726,0.519481,0.593103

In [47]:
region_df_values = region_df.drop(columns=["Town", "Location (N, S, E, W, etc.)"]).values
print(len(region_df_values))

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=10, random_state=0).fit(region_df_values)
kmeans.labels_

26

array([1, 5, 3, 7, 1, 7, 2, 0, 9, 9, 6, 4, 6, 4, 3, 2, 9, 9, 9, 2, 1, 3,
       8, 3, 8, 1])

In [48]:
region_df["region_label"] = kmeans.labels_.reshape(-1, 1)
region_df.head()

,Town,"Location (N, S, E, W, etc.)",Population,# households,median income (thousands),region_label
0,ANG MO KIO,North- East - Region,0.529107,0.615584,0.689655,1
1,BEDOK,East - Region,1.000000,1.000000,1.000000,5
2,BISHAN,Central - Region,0.214527,0.163636,0.124138,3
3,BUKIT BATOK,West - Region,0.442335,0.374026,0.372414,7
4,BUKIT MERAH,Central - Region,0.472726,0.519481,0.593103,1

In [49]:
# region_df.to_csv("data/region_details_clustered.csv", index=False)

## Merge the cluster IDs with the original data

In [50]:
houses_df_cleaned = pd.read_csv("data/cleaned.csv")
houses_df_cleaned.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01,ANG MO KIO,174,ANG MO KIO AVE 4,60.0,70,255000.0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,541,ANG MO KIO AVE 10,68.0,65,275000.0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,163,ANG MO KIO AVE 4,69.0,64,285000.0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,2015-01,ANG MO KIO,446,ANG MO KIO AVE 10,68.0,63,290000.0
4,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2015-01,ANG MO KIO,557,ANG MO KIO AVE 10,68.0,64,290000.0

In [51]:
houses_df_cleaned['month'] = houses_df_cleaned['month'].astype('datetime64[ns]')
houses_df_cleaned_sorted_date = houses_df_cleaned.sort_values(by='month', ascending=False)
houses_df_cleaned_sorted_date.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_20,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price
80582,0,0,0,0,1,0,0,0,1,0,...,0,0,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0
79560,0,1,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0
79538,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0
79539,0,0,1,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0
79540,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0

In [52]:
town_label_df = region_df[["Town", "region_label"]]
town_label_df.head()

          Town  region_label
0   ANG MO KIO             1
1        BEDOK             5
2       BISHAN             3
3  BUKIT BATOK             7
4  BUKIT MERAH             1

In [53]:
town_label_list = town_label_df.to_dict('records')
town_label_mapping = {x["Town"]: x["region_label"] for x in town_label_list}
len(town_label_mapping)

26

In [54]:
town_label_mapping

{'ANG MO KIO': 1,
 'BEDOK': 5,
 'BISHAN': 3,
 'BUKIT BATOK': 7,
 'BUKIT MERAH': 1,
 'BUKIT PANJANG': 7,
 'BUKIT TIMAH': 2,
 'CENTRAL AREA': 0,
 'CHOA CHU KANG': 9,
 'CLEMENTI': 9,
 'GEYLANG': 6,
 'HOUGANG': 4,
 'JURONG EAST': 6,
 'JURONG WEST': 4,
 'KALLANG/WHAMPOA': 3,
 'MARINE PARADE': 2,
 'PASIR RIS': 9,
 'PUNGGOL': 9,
 'QUEENSTOWN': 9,
 'SEMBAWANG': 2,
 'SENGKANG': 1,
 'SERANGOON': 3,
 'TAMPINES': 8,
 'TOA PAYOH': 3,
 'WOODLANDS': 8,
 'YISHUN': 1}

In [55]:
houses_df_cleaned_sorted_date["Town_label"] = houses_df_cleaned_sorted_date["town"].apply(lambda x : town_label_mapping[x])
houses_df_cleaned_sorted_date.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_21,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price,Town_label
80582,0,0,0,0,1,0,0,0,1,0,...,0,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0,1
79560,0,1,0,0,0,0,0,0,0,0,...,0,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0,6
79538,0,0,1,0,0,0,0,0,1,0,...,0,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0,9
79539,0,0,1,0,0,0,0,0,1,0,...,0,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0,9
79540,0,0,0,0,1,0,0,0,0,0,...,0,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0,9

In [56]:
mrt_details_df = pd.read_csv("data/cleaned_with_address_mrt_updated.csv")
street_mrt_dist_list = mrt_details_df.to_dict('records')
street_mrt_dist_mapping = {x["street_name"]: x["distance_to_nearest_mrt"] for x in street_mrt_dist_list}
len(street_mrt_dist_mapping)

529

In [57]:
houses_df_cleaned_sorted_date["mrt_dist"] = houses_df_cleaned_sorted_date["street_name"].apply(lambda x : street_mrt_dist_mapping[x])
houses_df_cleaned_sorted_date.head()

,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_6,flat_type_7,flat_type_-1,storey_range_1,storey_range_2,...,flat_model_-1,month,town,block,street_name,floor_area_sqm,remaining_lease,resale_price,Town_label,mrt_dist
80582,0,0,0,0,1,0,0,0,1,0,...,0,2019-01-01,YISHUN,836,YISHUN ST 81,146.0,68,662000.0,1,4436.534928
79560,0,1,0,0,0,0,0,0,0,0,...,0,2019-01-01,GEYLANG,34,CASSIA CRES,93.0,61,560000.0,6,447.725765
79538,0,0,1,0,0,0,0,0,1,0,...,0,2019-01-01,CLEMENTI,103,CLEMENTI ST 14,121.0,64,775000.0,9,1374.134071
79539,0,0,1,0,0,0,0,0,1,0,...,0,2019-01-01,CLEMENTI,613,CLEMENTI WEST ST 1,133.0,64,620000.0,9,828.485886
79540,0,0,0,0,1,0,0,0,0,0,...,0,2019-01-01,CLEMENTI,206,CLEMENTI AVE 6,150.0,65,859000.0,9,2005.281413

In [58]:
houses_df_cleaned_sorted_date = houses_df_cleaned_sorted_date.drop(columns=["block"])
bin_encoder = ce.BinaryEncoder(cols=["street_name"])
houses_df_cleaned_sorted_date = bin_encoder.fit_transform(houses_df_cleaned_sorted_date)
houses_df_cleaned_sorted_date.head()

,street_name_0,street_name_1,street_name_2,street_name_3,street_name_4,street_name_5,street_name_6,street_name_7,street_name_8,street_name_9,...,flat_model_20,flat_model_21,flat_model_-1,month,town,floor_area_sqm,remaining_lease,resale_price,Town_label,mrt_dist
80582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,YISHUN,146.0,68,662000.0,1,4436.534928
79560,0,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,GEYLANG,93.0,61,560000.0,6,447.725765
79538,0,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,CLEMENTI,121.0,64,775000.0,9,1374.134071
79539,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,133.0,64,620000.0,9,828.485886
79540,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,150.0,65,859000.0,9,2005.281413

In [59]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()
target_mm_scaler = MinMaxScaler()
houses_df_cleaned_sorted_date[["floor_area_sqm", "remaining_lease", "mrt_dist"]] = mm_scaler.fit_transform(houses_df_cleaned_sorted_date[["floor_area_sqm", "remaining_lease", "mrt_dist"]])
houses_df_cleaned_sorted_date[["resale_price"]] = target_mm_scaler.fit_transform(houses_df_cleaned_sorted_date[["resale_price"]])
houses_df_cleaned_sorted_date.head()

,street_name_0,street_name_1,street_name_2,street_name_3,street_name_4,street_name_5,street_name_6,street_name_7,street_name_8,street_name_9,...,flat_model_20,flat_model_21,flat_model_-1,month,town,floor_area_sqm,remaining_lease,resale_price,Town_label,mrt_dist
80582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2019-01-01,YISHUN,0.461847,0.42,0.489756,1,0.958805
79560,0,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,GEYLANG,0.248996,0.28,0.390244,6,0.096761
79538,0,0,0,0,0,0,0,0,0,1,...,0,0,0,2019-01-01,CLEMENTI,0.361446,0.34,0.600000,9,0.296972
79539,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,0.409639,0.34,0.448780,9,0.179049
79540,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2019-01-01,CLEMENTI,0.477912,0.36,0.681951,9,0.433373

In [60]:
oh_encoder = ce.OneHotEncoder(cols=["Town_label"])
houses_df_cleaned_sorted_date = oh_encoder.fit_transform(houses_df_cleaned_sorted_date)
houses_df_cleaned_sorted_date.head()

,Town_label_1,Town_label_2,Town_label_3,Town_label_4,Town_label_5,Town_label_6,Town_label_7,Town_label_8,Town_label_9,Town_label_10,...,flat_model_19,flat_model_20,flat_model_21,flat_model_-1,month,town,floor_area_sqm,remaining_lease,resale_price,mrt_dist
80582,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2019-01-01,YISHUN,0.461847,0.42,0.489756,0.958805
79560,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,2019-01-01,GEYLANG,0.248996,0.28,0.390244,0.096761
79538,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,2019-01-01,CLEMENTI,0.361446,0.34,0.600000,0.296972
79539,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,2019-01-01,CLEMENTI,0.409639,0.34,0.448780,0.179049
79540,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,2019-01-01,CLEMENTI,0.477912,0.36,0.681951,0.433373

In [61]:
houses_df_cleaned_sorted_date.shape

(80583, 76)

In [62]:
houses_df_prepared = houses_df_cleaned_sorted_date.drop(columns=["town"])

In [63]:
# houses_df_prepared.to_csv("data/prepared.csv", index=0)

## Modelling

In [64]:
houses_df_prepared = pd.read_csv("data/prepared.csv")
test_df = houses_df_prepared.iloc[:5000]
train_df = houses_df_prepared.iloc[5000:]
print(test_df.shape)
print(train_df.shape)

(5000, 75)
(75583, 75)

In [65]:
test_df.head()

,Town_label_1,Town_label_2,Town_label_3,Town_label_4,Town_label_5,Town_label_6,Town_label_7,Town_label_8,Town_label_9,Town_label_10,...,flat_model_18,flat_model_19,flat_model_20,flat_model_21,flat_model_-1,month,floor_area_sqm,remaining_lease,resale_price,mrt_dist
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2019-01-01,0.461847,0.42,0.489756,0.958805
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2019-01-01,0.248996,0.28,0.390244,0.096761
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2019-01-01,0.361446,0.34,0.600000,0.296972
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2019-01-01,0.409639,0.34,0.448780,0.179049
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2019-01-01,0.477912,0.36,0.681951,0.433373

In [66]:
#train_df.to_csv("data/train.csv", index=0)
#test_df.to_csv("data/test.csv", index=0)

In [67]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")
train_df = train_df.drop(columns=["month"])
test_df = test_df.drop(columns=["month"])

In [68]:
feature_columns = [x for x in train_df.columns if x not in ["resale_price"]]
X_train = train_df[feature_columns].values
y_train = train_df["resale_price"].values
X_train.shape

(75583, 73)

In [69]:
y_train.shape

(75583,)

In [70]:
X_test = test_df[feature_columns].values
y_test = test_df["resale_price"].values
print(X_test.shape)
print(y_test.shape)

(5000, 73)
(5000,)

In [71]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
from sklearn.metrics import mean_squared_error

y_predict = lasso_reg.predict(X_test)

regression_model_mse = mean_squared_error(y_predict, y_test)

regression_model_mse

0.022420923519883302

In [ ]:
from sklearn.neural_network import MLPRegressor
mlp_regressor = MLPRegressor((500, 200))
mlp_regressor.fit(X_train, y_train)
mlp_predictions = mlp_regressor.predict(X_test)
mlp_mse = mean_squared_error(mlp_predictions, y_test)
mlp_mse

In [ ]:
import pickle
pickle.dump(mlp_regressor, open("data/mlp_regressor.pkl", 'wb'))

In [ ]:
loaded_model = pickle.load(open("data/mlp_regressor.pkl", 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

In [ ]:
predicted_price.shape

In [ ]:
predicted_price_scaled = loaded_model.predict(X_test[0].reshape(1, -1))
predicted_price_actual = target_mm_scaler.inverse_transform(predicted_price_scaled.reshape(1, -1))
predicted_price_actual

In [ ]:
predicted_price_actual.shape

In [ ]:
final_price = np.squeeze(predicted_price_actual)
final_price

In [ ]:
pickle.dump(encoder, open("data/to_load/flat_type_all_enc.pkl", 'wb'))

In [ ]:
pickle.dump(bin_encoder, open("data/to_load/street_address_bin.pkl", 'wb'))

## Perform predictions using UI

In [ ]:
def on_button_clicked(b):
    town_val = town.value
    flat_type_val = flat_type.value
    block_val = block.value
    street_val = street_name.value
    storey_range_val = storey_range.value
    floor_area_val = floor_area.value
    flat_model_val = flat_model.value
    remaining_lease_val = remaining_lease.value
    
    vals = {}
    vals["town"] = [town_val]
    vals["flat_type"] = [flat_type_val]
    vals["block"] = [block_val]
    vals["street_name"] = [street_val]
    vals["storey_range"] = [storey_range_val]
    vals["floor_area_sqm"] = [floor_area_val]
    vals["flat_model"] = [flat_model_val]
    vals["remaining_lease"] = [remaining_lease_val]
    
    temp_df = pd.DataFrame.from_dict(vals)
    print(temp_df)
    
    
    temp_df["town"] = encoder.transform(temp_df["town"])
    print(temp_df)
    #print(town_val_enc)

In [ ]:
# encoder
# bin_encoder
original_df = pd.read_csv("data/resale-flat-prices-based-on-registration-date-from-jan-2015-onwards.csv")

import ipywidgets as widgets
town = widgets.Dropdown(
    options=original_df["town"].unique(),
    description='Town',
    disabled=False,
)

flat_type = widgets.Dropdown(
    options=original_df["flat_type"].unique(),
    description='Flat type',
    disabled=False,
)

block = widgets.Text(
    description='Block'
)

street_name = widgets.Dropdown(
    options=original_df["street_name"].unique(),
    description='Street name',
    disabled=False,
)

storey_range = widgets.Dropdown(
    options=original_df["storey_range"].unique(),
    description='Storey range',
    disabled=False,
)

floor_area = widgets.Text(
    description='Floor area'
)

flat_model = widgets.Dropdown(
    options=original_df["flat_model"].unique(),
    description='Flat model',
    disabled=False,
)

remaining_lease = widgets.Text(
    description='Lease rem.'
)

button = widgets.Button(description="Predict price")


button.on_click(on_button_clicked)


display(town)
display(flat_type)
display(block)
display(street_name)
display(storey_range)
display(floor_area)
display(flat_model)
display(remaining_lease)
display(button)